[package]
name = "arrow2"
version = "0.1.0"
license = "Apache-2.0"
description = "Implementation of Apache Arrow spec in safe Rust"
homepage = "https://github.com/jorgecarleitao/arrow2"
repository = "https://github.com/jorgecarleitao/arrow2"
authors = ["Jorge C. Leitao <jorgecarleitao@gmail.com>", "Apache Arrow <dev@arrow.apache.org>"]
keywords = [ "arrow", "analytics" ]
edition = "2018"

[lib]
name = "arrow2"
bench = false

[dependencies]
num = "^0.3"
chrono = "^0.4"
# To efficiently cast numbers to strings
lexical-core = "^0.7"
# We need to Hash values before sending them to an hasher. This
# crate provides HashMap that assumes pre-hashed values.
hash_hasher = "^2.0.3"

csv = { version = "^1.1", optional = true }
regex = { version = "^1.3", optional = true }
lazy_static = { version = "^1.4", optional = true }

serde = { version = "^1.0", features = ["rc"], optional = true }
serde_derive = { version = "^1.0", optional = true }
serde_json = { version = "^1.0", features = ["preserve_order"], optional = true }
indexmap = { version = "^1.6", optional = true }

flatbuffers = { version = "^0.8", optional = true }
hex = { version = "^0.4", optional = true }

rand = { version = "0.7", optional = true }

itertools = { version = "^0.10", optional = true }

[dependencies.parquet2]
git = "https://github.com/jorgecarleitao/parquet2"
rev = "58975badad09819dd5bdb09c7441ab3239bb14c1"
default-features = false
features = ["snappy", "gzip", "lz4", "zstd", "brotli"]
optional = true

[dev-dependencies]
rand = "0.7"
criterion = "0.3"
flate2 = "1"
doc-comment = "0.3"

[features]
default = ["io_csv", "io_json", "io_ipc", "io_json_integration", "io_parquet", "regex", "merge_sort", "benchmarks"]
merge_sort = ["itertools"]
io_csv = ["csv", "lazy_static", "regex"]
io_json = ["serde", "serde_derive", "serde_json", "indexmap"]
io_ipc = ["flatbuffers"]
io_json_integration = ["io_json", "hex"]
io_parquet = ["parquet2"]
benchmarks = ["rand"]

[package.metadata.cargo-all-features]
skip_feature_sets = [
    ["benchmarks"],
    ["merge_sort"],
    ["io_json_integration"],
]

skip_optional_dependencies = true

[[bench]]
name = "take_kernels"
harness = false

[[bench]]
name = "filter_kernels"
harness = false

[[bench]]
name = "cast_kernels"
harness = false

[[bench]]
name = "sort_kernel"
harness = false

[[bench]]
name = "length_kernel"
harness = false

[[bench]]
name = "null_count"
harness = false

[[bench]]
name = "from_trusted_len_iter"
harness = false

[[bench]]
name = "growable"
harness = false

[[bench]]
name = "comparison_kernels"
harness = false

[[bench]]
name = "read_parquet"
harness = false
